	<!-- Container -->
	<div id="container">
		<!-- Header -->
		<header class="clearfix white-header-style fullwidth-with-search">
	
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
	
					<a class="navbar-brand" href="/">
						<img src="images/logo-black.png" alt="">
					</a>
	
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
	
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<form class="search-form" method="POST" action="/search">
							<div class="search-form__input-holders">
								<input class="search-form__input" type="text" name="place_event" id="place_event" placeholder="ZipCode" />
							</div>
							<div class="search-form__input-holders">
								<select class="search-form__input" id="radius" name="radius">
									<option selected disabled>Radius</option>
									<option >10</option>
									<option >25</option>
									<option >50</option>
									<option >75</option>
									<option >100</option>
								</select>
								<select class="search-form__input" id="certified" name="certified">
									<option selected disabled>Certified Craft Only</option>
									<option >Yes</option>
									<option >No</option>
								</select>	
							</div>
							<button type="submit" class="btn-default btn-default-red">
								<i class="fa fa-search" aria-hidden="true"></i>
									Search
							</button>
						</form>
						<ul class="navbar-nav ml-auto right-list">
							<li><a href="login-page.html"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Login</a></li>
							<li><a href="signup.html"><i class="fa fa-user-o" aria-hidden="true"></i>Sign Up</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header -->

		<!-- explore-module -->
		<section class="explore">
			<div class="explore__side-content">

				<div class="explore__filter explore__filter-side">
					<!--form class="explore__form"-->
						<h2 class="explore__filter-title">
							<span>Results For:</span> {{zip_code}}
						</h2>
				<div class="explore__box explore__box-side">

					<div class="explore__wrap iso-call">
						{{#each data}}
						<div class="item">
							<!-- place-post module -->
							<div class="place-post">
								<div class="place-post__gal-box">
									<img class="place-post__image" src="{{brewery.images.icon}}" onerror="this.onerror=null;this.src='./images/marker.png';"
									 alt="place-image">
									<a class="place-post__like" href="#"><i aria-hidden="true"></i></a>
								</div>
								<div class="place-post__content">
									<h2 class="place-post__title">
										<form method="POST" name="detail_brewery" action="/detail">
											<input type="hidden" name="name_brewery" value="{{brewery.nameShortDisplay}}">
											<input type="hidden" name="address_brewery" value="{{streetAddress}}">
											<input type="hidden" name="overview_brewery" value="{{brewery.description}}">
											<input type="hidden" name="latitude" value="{{latitude}}">
											<input type="hidden" name="longitude" value="{{longitude}}">
											<input type="hidden" name="phone" value="{{phone}}">
											<input type="hidden" name="website" value="{{brewery.website}}">
											<button type="submit" class="btn-default" id="{{brewery.id}}">{{brewery.nameShortDisplay}}</button>
											<!-- id for result 1 Brewery Name -->
										</form>
									</h2>
									<p class="place-post__address">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										{{streetAddress}}
										<!-- id for result 1 Brewery address -->
									</p>
								</div>
							</div>
							<!-- end place-post module -->
						</div>
						{{/each}}

					</div>
					<div class="center-button">
						<a class="btn-default btn-default-red load-post-container" href="#">
							<i class="fa fa-refresh"></i>
							Load More Listing
						</a>
					</div>
				</div>
			</div>

			<div class="explore__map-side">
				<!-- map block -->
				<div id="map" data-map-zoom="9">
				</div>
				<!-- End map block -->
			</div>
			<input type="hidden" id="lat" value="{{lat}}">
			<input type="hidden" id="lng" value="{{lng}}">
			<input type="hidden" id="data_json" value="{{result}}">
			<!--input type="hidden" id="data_search" value={{result}}-->

	</section>
	<!-- End explore-module -->

</div>
<!-- End Container -->

<script src="js/jquery.min.js"></script>
<script src="js/jquery.migrate.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_uq660sOqIWpWFdN6tGwKUYR07jmx-Ww&callback=initMap"
 async defer></script>
<!--build:js js/triptip-plugins.min.js -->
<script>
	$(".item").slice(0, 4).show();
	$("#loadMore").on('click', function (e) {
		e.preventDefault();
		//$(".item:hidden").slice(0, 1).slideDown();
		$(".item:hidden").slice(0, 2).show();
		$('html,body').animate({
			scrollTop: $(this).offset().top
		}, 9000);
		if ($(".item:hidden").length == 0) {
			$("#loadMore").fadeOut('slow');
		}
	});

	var map;
	var lat = $("#lat").val() * 1;
	var lng = $("#lng").val() * 1;

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: lat, lng: lng },
			zoom: 8
		});
		var json = JSON.parse($("#data_json").val());
		var i = 0;
		var myLatlng;
		var marker;
		for (i; i < json.length; i++) {
			myLatlng = new google.maps.LatLng(json[i].latitude, json[i].longitude);
			marker = new google.maps.Marker({
				position: myLatlng,
				title: json[i].name,
				icon: "images/marker.png"
			});
			marker.setMap(map);
		}
	}
</script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.imagesloaded.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/retina-1.1.0.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/infobox.min.js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/maps.js"></script>
<!-- endbuild -->
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/script.js"></script>
